{% extends 'learning_logs/base.html' %}

{% block page_header %}
  <div class="d-flex justify-content-between align-items-center">
    <h3>{{ topic }}</h3>
    {% if user == topic.owner %}
      <form action="{% url 'learning_logs:delete_topic' topic.id %}" method="post" onsubmit="return confirm('Are you sure you want to delete this topic and all its entries?');">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-sm">Delete Topic</button>
      </form>
    {% endif %}
  </div>
{% endblock page_header %}

{% block content %}
  <ul>
    {% for topic in topics %}
      <li>
        <h3>
          <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
          <a href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry</a>
        </h3>
      </li>
    {% empty %}
    {% endfor %}
  </ul>
  <p>Entries:</p>
  <ul>
    {% for entry in entries %}
      <div class="card mb-3">
        <h4 class="card-header">
          {{ entry.date_added|date:'M d, Y H:i' }}
          <small><a href="{% url 'learning_logs:edit_entry' entry.id %}">edit entry</a></small>
        </h4>
        <div class="card-body">
          {{ entry.text|linebreaks }}
        </div>
      </div>
    {% empty %}
      <p>There are no entries for this topic yet.</p>
    {% endfor %}
  </ul>
{% endblock content %}
